button {
  padding: 20px;
  width: 20em;
  margin: 10px;
  color: white;
  font-size: 19px;
  cursor: pointer;
  border: 0;
  background: #0000ff;
  border-radius: 10px;
}

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

/**
 * 1) Button or link that has functionality to it
 */
 .c-btn {
  display: flex;
  background: #0000ff;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 10px;
}

/**
 * 1) Button or link that has functionality to it
 */
 .c-btn--primary {
  display: flex;
  background: #0000ff;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 10px;
}

/**
 * Secondary button
 * 1) Different button style
 */
.c-btn--secondary {
  background: #eee;
  color: #222;
  border: 1px solid #eee;
  border-radius: 10px;
}

.c-btn__icon {
  fill: #fff;
}

.c-btn__text + .c-btn__icon {
  margin-left: 0.5rem;
}

.c-btn__icon + .c-btn__text {
  margin-left: 0.5rem;
}
